<h1>Signup!</h1>
<% flash[:error] && flash[:error].each do |value| %>
  <div class="alert alert alert-warning"><%= value %></div>
<% end %>

<%= form_for @user do |f| %>
  <div class="row">
    <div class="col-md-6">
      First Name: <%= f.text_field :first_name, class: "form-control" %>
    </div>
    <div class="col-md-6">
      Last Name: <%= f.text_field :last_name, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      Email: <%= f.text_field :email, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      Password: <%= f.password_field :password, class: "form-control" %>
    </div>
    <div class="col-md-6">
      Password Confirmation: <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
  </div>
  <p>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </p>
<% end %>